.authPage-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
}

.authPage-window {
  width: 600px;
  padding: 40px 20px;
  background-color: #b05e5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  opacity: 0;
  animation: fadeIn 3s forwards;
  color: white;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


.authPage-input-container {
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.authPage-input-container label {
  color: white;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: left;
}

.authPage-input-container input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.authPage-label-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.forget-password {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.forget-password:hover {
  text-decoration: underline;
}

.authPage-input-container input:focus {
  outline: 2px solid #3f8b95;
  box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
}

.authPage-button {
  width: 80%;
  padding: 12px;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
  background-color: #3f8b95;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.authPage-button:hover {
  background-color: #3f8b95;
}

.authPage-logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.authPage-logos .logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.authPage-logos .logo:hover {
  transform: scale(1.2);
}


/*Register*/
.Register p {
  color: white;
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
}

.Register a {
  color: #3f8b95;
  text-decoration: none;
}

.Register a:hover {
  text-decoration: underline;
}

/*Guest*/
.guest-button {
  width: 40%;
  padding: 12px;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
  background-color: #f77cb9;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.guest-button:hover {
  background-color: rgb(250, 158, 219);
}

a {
  color: #5bcbda;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  color: #4ea1ff;
  cursor: pointer;
  text-decoration: underline;
  font: inherit;
}

